<a href="https://colab.research.google.com/github/adam-foley/Survivor/blob/main/survivor_data_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Surivor - Outwit, Outplay, Outlast

## Imports and functions

In [1]:
%pip install gender_guesser
%pip install pymysql

from bs4 import BeautifulSoup

import requests
import urllib.request
import time
import random
import requests
import random
import os
import pymysql
import time
import gender_guesser.detector as gender
import pandas as pd
import numpy as np

STATES = {'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'D.C.': 'DC', 'Florida': 'FL', 
          'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 
          'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 
          'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 
          'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 
          'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA.', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}


SEASONS = ['Borneo', 'The_Australian_Outback', 'Africa', 'Marquesas', 'Thailand', 'The_Amazon', 'Pearl_Islands', 'All-Stars', 'Vanuatu', 'Palau', 'Guatemala','Panama', 'Cook_Islands'] 

def getSeasonURL(season_num):
  wiki_url = 'https://en.wikipedia.org/wiki/Survivor:_'
  return wiki_url + SEASONS[ season_num - 1 ]

def getSurvivorId(first_name, last_name):
  first_name = "'"+first_name+"'"
  last_name = "'"+last_name.strip(" ")+"'"
  query = "Select survivor_id from survivor_data.Players where first_name ="+first_name+" and last_name="+last_name+";"
  cur.execute(query)
  id = cur.fetchone()[0]
  return str(id)

def executeQuery(query):
  cur.execute(query)

def commitQuery():
  conn.commit()

def findStateInString(s):
  word = ''
  for char in s:
    if word in states:
      return word
    else:
      word += char

def addQuotes(s):
  return " '"+s+"' "

def getGender(name):
  d = gender.Detector()
  g = d.get_gender(name).split("_")

  if len(g) == 2:
    gn = g[-1]
  else:
    gn = g[0]
    
  if gn == "male":
    return 'M'
  else:
    return 'F'

def getPlayerTableInfoRandom(url):
  response = requests.get(url)
  soup = BeautifulSoup(response.text, 'html.parser')
  table = soup.find_all('table', {'class': 'wikitable'})[0]
  table_rows = table.find_all('tr')

  rows = []
  for tr in table_rows:
      td = tr.find_all('td')
      td_row = [i.text for i in td]
      rows.append(td_row[:-1])
      random.shuffle(rows)

  return rows

def getPlayerTableInfo(url):
  response = requests.get(url)
  soup = BeautifulSoup(response.text, 'html.parser')
  table = soup.find_all('table', {'class': 'wikitable'})[0]
  table_rows = table.find_all('tr')

  rows = []
  for tr in table_rows:
      td = tr.find_all('td')
      td_row = [i.text for i in td]
      rows.append(td_row[:-1])

  return rows

Collecting gender_guesser
  Downloading gender_guesser-0.4.0-py2.py3-none-any.whl (379 kB)
     |████████████████████████████████| 379 kB 11.4 MB/s
Installing collected packages: gender-guesser
Successfully installed gender-guesser-0.4.0
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.3 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

## AWS Login

In [2]:
  succeess = False

  while not succeess:
    password = input("Password: ");
    try:
      conn = pymysql.connect(
          host='aws-survivor.cpapv35x7rsh.us-east-2.rds.amazonaws.com',
          port=int(3306),
          user="admin",
          passwd=password,
          db="survivor_data",
          charset='utf8mb4')
      cur = conn.cursor()
      succeess = True
    except:
      print("Wrong Password")
  print("Connection Made")

Password: Frederickwilliams121234
Connection Made

## Adding Players to Players Table

In [12]:
url = getSeasonURL(len(SEASONS))
rows =getPlayerTableInfoRandom(url)
print(rows)

for row in rows:
  if len(row) !=0:
    r_split = row[0].split(",")

    if len(r_split) == 3:
      name_age = r_split[0]
      first_name = name_age[:-2].split(" ", 1)[0]
      last_name  = name_age[:-2].split(" ", 1)[1]
      age = name_age[-2:]
      gen = getGender(first_name)
      state = r_split[-1].strip("\n")[1:]

      print(first_name, last_name, age, gen, state)

      try:
        query = "INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ("+addQuotes(first_name)+","+addQuotes(last_name)+","+addQuotes(gen)+","+addQuotes(STATES[state])+");"
        print(query)
        executeQuery(query)
      except:
        print("Error")

commitQuery()

[['Virgilio "Billy" Garcia36, New York City, New York\n', 'Aitutaki\n', '\n', '\n', '\n'], ['Jenny Guzon-Bae36, Lake Forest, Illinois\n', 'Puka Puka\n', 'Rarotonga\n', 'Rarotonga\n', '\n'], ['Cristina Coria35, Santa Monica, California\n', 'Aitutaki\n', 'Rarotonga\n', '\n', '\n'], ['Adam Gentry27, San Diego, California\n', 'Rarotonga\n', 'Rarotonga\n', 'Rarotonga\n'], ['Brad Virata29, Santa Monica, California\n', 'Puka Puka\n', 'Rarotonga\n', 'Rarotonga\n', '\n'], [], ['Sekou Bunch45, Los Angeles, California\n', 'Manihiki\n', '\n', '\n', '\n'], ['Rebecca Borman34, Laurelton, New York\n', 'Manihiki\n', 'Rarotonga\n', 'Rarotonga\n', '\n'], ['Stephannie Favor35, Columbia, South Carolina\n', 'Manihiki\n', 'Rarotonga\n', '\n', '\n'], ['Anh-Tuan "Cao Boi" Bui42, Christiansburg, Virginia\n', 'Puka Puka\n', 'Aitutaki\n', '\n', '\n'], ['Oscar "Ozzy" Lusth24, Venice, California\n', 'Aitutaki\n', 'Aitutaki\n', 'Aitutaki\n'], ['Jessica Smith27, Chico, California\n', 'Rarotonga\n', 'Aitutaki\n', '\n', '\n'], ['John "J.P." Calderon30, Long Beach, California\n', 'Aitutaki\n', 'Rarotonga\n', '\n', '\n'], ['Rebekah "Becky" Lee28, Washington, D.C.\n', 'Puka Puka\n', 'Aitutaki\n', 'Aitutaki\n'], ['Cecilia Mansilla29, Oakland, California\n', 'Aitutaki\n', 'Aitutaki\n', '\n', '\n'], ['Nathan "Nate" Gonzalez26, Playa del Rey, California\n', 'Manihiki\n', 'Rarotonga\n', 'Rarotonga\n', 'Aitutonga\n'], ['Sundra Oakley31, Los Angeles, California\n', 'Manihiki\n', 'Aitutaki\n', 'Aitutaki\n'], ['Yul Kwon31, San Mateo, California\n', 'Puka Puka\n', 'Aitutaki\n', 'Aitutaki\n'], ['Jonathan Penner44, Los Angeles, California\n', 'Rarotonga\n', 'Aitutaki\n', 'Rarotonga\n'], ['Parvati Shallow23, West Hollywood, California\n', 'Rarotonga\n', 'Rarotonga\n', 'Rarotonga\n'], ['Candice Woodcock23, Washington, D.C.\n', 'Rarotonga\n', 'Aitutaki\n', 'Rarotonga\n']]
Virgilio "Billy" Garcia 36 M New York
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Virgilio' , '"Billy" Garcia' , 'M' , 'NY' );
Jenny Guzon-Bae 36 F Illinois
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Jenny' , 'Guzon-Bae' , 'F' , 'IL' );
Cristina Coria 35 F California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Cristina' , 'Coria' , 'F' , 'CA' );
Adam Gentry 27 M California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Adam' , 'Gentry' , 'M' , 'CA' );
Brad Virata 29 M California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Brad' , 'Virata' , 'M' , 'CA' );
Sekou Bunch 45 F California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Sekou' , 'Bunch' , 'F' , 'CA' );
Rebecca Borman 34 F New York
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Rebecca' , 'Borman' , 'F' , 'NY' );
Stephannie Favor 35 F South Carolina
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Stephannie' , 'Favor' , 'F' , 'SC' );
Anh-Tuan "Cao Boi" Bui 42 F Virginia
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Anh-Tuan' , '"Cao Boi" Bui' , 'F' , 'VA' );
Oscar "Ozzy" Lusth 24 M California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Oscar' , '"Ozzy" Lusth' , 'M' , 'CA' );
Jessica Smith 27 F California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Jessica' , 'Smith' , 'F' , 'CA' );
John "J.P." Calderon 30 M California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'John' , '"J.P." Calderon' , 'M' , 'CA' );
Rebekah "Becky" Lee 28 F D.C.
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Rebekah' , '"Becky" Lee' , 'F' , 'DC' );
Cecilia Mansilla 29 F California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Cecilia' , 'Mansilla' , 'F' , 'CA' );
Nathan "Nate" Gonzalez 26 M California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Nathan' , '"Nate" Gonzalez' , 'M' , 'CA' );
Sundra Oakley 31 F California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Sundra' , 'Oakley' , 'F' , 'CA' );
Yul Kwon 31 F California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Yul' , 'Kwon' , 'F' , 'CA' );
Jonathan Penner 44 M California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Jonathan' , 'Penner' , 'M' , 'CA' );
Parvati Shallow 23 F California
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Parvati' , 'Shallow' , 'F' , 'CA' );
Candice Woodcock 23 F D.C.
INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ( 'Candice' , 'Woodcock' , 'F' , 'DC' );

## Add Players to Seasons Table

In [14]:
season = len(SEASONS)
url = getSeasonURL(season)
rows =getPlayerTableInfoRandom(url)
print(rows)

for row in rows:
  if len(row) !=0:
    r_split = row[0].split(",")

    if len(r_split) == 3:
      name_age = r_split[0]
      first_name = name_age[:-2].split(" ", 1)[0]
      last_name  = name_age[:-2].split(" ", 1)[1]
      age = name_age[-2:]


      try:
        survivor_id = getSurvivorId(first_name, last_name)
        query = "INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age)"+" VALUES('"+str(season)+"','"+str(survivor_id)+"','"+str(age)+"');"
        
        print(query)
        #executeQuery(query)
      except:
        print(first_name, last_name, age)

#commitQuery()

[['Rebecca Borman34, Laurelton, New York\n', 'Manihiki\n', 'Rarotonga\n', 'Rarotonga\n', '\n'], ['Brad Virata29, Santa Monica, California\n', 'Puka Puka\n', 'Rarotonga\n', 'Rarotonga\n', '\n'], ['Jonathan Penner44, Los Angeles, California\n', 'Rarotonga\n', 'Aitutaki\n', 'Rarotonga\n'], ['Candice Woodcock23, Washington, D.C.\n', 'Rarotonga\n', 'Aitutaki\n', 'Rarotonga\n'], ['Yul Kwon31, San Mateo, California\n', 'Puka Puka\n', 'Aitutaki\n', 'Aitutaki\n'], ['Cecilia Mansilla29, Oakland, California\n', 'Aitutaki\n', 'Aitutaki\n', '\n', '\n'], ['Virgilio "Billy" Garcia36, New York City, New York\n', 'Aitutaki\n', '\n', '\n', '\n'], ['Adam Gentry27, San Diego, California\n', 'Rarotonga\n', 'Rarotonga\n', 'Rarotonga\n'], ['Stephannie Favor35, Columbia, South Carolina\n', 'Manihiki\n', 'Rarotonga\n', '\n', '\n'], ['John "J.P." Calderon30, Long Beach, California\n', 'Aitutaki\n', 'Rarotonga\n', '\n', '\n'], ['Sundra Oakley31, Los Angeles, California\n', 'Manihiki\n', 'Aitutaki\n', 'Aitutaki\n'], [], ['Anh-Tuan "Cao Boi" Bui42, Christiansburg, Virginia\n', 'Puka Puka\n', 'Aitutaki\n', '\n', '\n'], ['Rebekah "Becky" Lee28, Washington, D.C.\n', 'Puka Puka\n', 'Aitutaki\n', 'Aitutaki\n'], ['Jessica Smith27, Chico, California\n', 'Rarotonga\n', 'Aitutaki\n', '\n', '\n'], ['Cristina Coria35, Santa Monica, California\n', 'Aitutaki\n', 'Rarotonga\n', '\n', '\n'], ['Parvati Shallow23, West Hollywood, California\n', 'Rarotonga\n', 'Rarotonga\n', 'Rarotonga\n'], ['Oscar "Ozzy" Lusth24, Venice, California\n', 'Aitutaki\n', 'Aitutaki\n', 'Aitutaki\n'], ['Jenny Guzon-Bae36, Lake Forest, Illinois\n', 'Puka Puka\n', 'Rarotonga\n', 'Rarotonga\n', '\n'], ['Sekou Bunch45, Los Angeles, California\n', 'Manihiki\n', '\n', '\n', '\n'], ['Nathan "Nate" Gonzalez26, Playa del Rey, California\n', 'Manihiki\n', 'Rarotonga\n', 'Rarotonga\n', 'Aitutonga\n']]
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','244','34');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','242','29');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','255','44');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','257','23');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','254','31');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','251','29');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','238','36');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','241','27');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','245','35');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','249','30');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','253','31');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','246','42');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','250','28');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','248','27');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','240','35');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','256','23');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','247','24');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','239','36');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','243','45');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('13','252','26');

## Add Votes for in Season Table

In [ ]:
a = [ ['Terry', 'Deitz'], ['Bruce', 'Kanegai'], ['Danielle', 'DiLorenzo']]
v = [ ['Cirie', 'Fields'], ['Dan', 'Barry'], ['Courtney', 'Marit'] ]
season = 12


for player in a:
  survivor_id = getSurvivorId(first_name=player[0], last_name=player[1])
  query = "UPDATE `survivor_data`.`Seasons` SET `vote_adam` = 1 WHERE `season_id` ='"+str(season)+"' and survivor_id ='"+survivor_id+"';"
  #executeQuery(query)
  print(query)

for player in v:
  survivor_id = getSurvivorId(first_name=player[0], last_name=player[1])
  query = "UPDATE `survivor_data`.`Seasons` SET `vote_victoria` = 1 WHERE `season_id` ='"+str(season)+"' and survivor_id ='"+survivor_id+"';"
  #executeQuery(query)
  print(query)

#commitQuery()

UPDATE `survivor_data`.`Seasons` SET `vote_adam` = 1 WHERE `season_id` ='12' and survivor_id ='208';
UPDATE `survivor_data`.`Seasons` SET `vote_adam` = 1 WHERE `season_id` ='12' and survivor_id ='220';
UPDATE `survivor_data`.`Seasons` SET `vote_adam` = 1 WHERE `season_id` ='12' and survivor_id ='221';
UPDATE `survivor_data`.`Seasons` SET `vote_victoria` = 1 WHERE `season_id` ='12' and survivor_id ='214';
UPDATE `survivor_data`.`Seasons` SET `vote_victoria` = 1 WHERE `season_id` ='12' and survivor_id ='207';
UPDATE `survivor_data`.`Seasons` SET `vote_victoria` = 1 WHERE `season_id` ='12' and survivor_id ='209';

## Set Players Place in the Season

In [16]:
season = len(SEASONS)
url = getSeasonURL(season)
rows =getPlayerTableInfo(url)
rows = rows[1:]
place = len(rows)

print(rows)

for row in rows:
  if len(row) !=0:
    r_split = row[0].split(",")

    if len(r_split) == 3:
      name_age = r_split[0]
      first_name = name_age[:-2].split(" ", 1)[0].strip(" ")
      last_name  = name_age[:-2].split(" ", 1)[1].strip(" ").strip("'")

      try:
        print(first_name)
        survivor_id = getSurvivorId(first_name, last_name)
        query = "UPDATE `survivor_data`.`Seasons` SET place ="+ str(place) +" WHERE `season_id` ='"+str(season)+"'and `survivor_id` ='"+survivor_id+"';"
        print(query)
        executeQuery(query)

      except:
        print("Error: ", first_name, last_name) 
        
  place -= 1   

commitQuery()

[['Sekou Bunch45, Los Angeles, California\n', 'Manihiki\n', '\n', '\n', '\n'], ['Virgilio "Billy" Garcia36, New York City, New York\n', 'Aitutaki\n', '\n', '\n', '\n'], ['Cecilia Mansilla29, Oakland, California\n', 'Aitutaki\n', 'Aitutaki\n', '\n', '\n'], ['John "J.P." Calderon30, Long Beach, California\n', 'Aitutaki\n', 'Rarotonga\n', '\n', '\n'], ['Stephannie Favor35, Columbia, South Carolina\n', 'Manihiki\n', 'Rarotonga\n', '\n', '\n'], ['Anh-Tuan "Cao Boi" Bui42, Christiansburg, Virginia\n', 'Puka Puka\n', 'Aitutaki\n', '\n', '\n'], ['Cristina Coria35, Santa Monica, California\n', 'Aitutaki\n', 'Rarotonga\n', '\n', '\n'], ['Jessica Smith27, Chico, California\n', 'Rarotonga\n', 'Aitutaki\n', '\n', '\n'], ['Brad Virata29, Santa Monica, California\n', 'Puka Puka\n', 'Rarotonga\n', 'Rarotonga\n', '\n'], ['Rebecca Borman34, Laurelton, New York\n', 'Manihiki\n', 'Rarotonga\n', 'Rarotonga\n', '\n'], ['Jenny Guzon-Bae36, Lake Forest, Illinois\n', 'Puka Puka\n', 'Rarotonga\n', 'Rarotonga\n', '\n'], ['Nathan "Nate" Gonzalez26, Playa del Rey, California\n', 'Manihiki\n', 'Rarotonga\n', 'Rarotonga\n', 'Aitutonga\n'], ['Candice Woodcock23, Washington, D.C.\n', 'Rarotonga\n', 'Aitutaki\n', 'Rarotonga\n'], ['Jonathan Penner44, Los Angeles, California\n', 'Rarotonga\n', 'Aitutaki\n', 'Rarotonga\n'], ['Parvati Shallow23, West Hollywood, California\n', 'Rarotonga\n', 'Rarotonga\n', 'Rarotonga\n'], ['Adam Gentry27, San Diego, California\n', 'Rarotonga\n', 'Rarotonga\n', 'Rarotonga\n'], ['Sundra Oakley31, Los Angeles, California\n', 'Manihiki\n', 'Aitutaki\n', 'Aitutaki\n'], ['Rebekah "Becky" Lee28, Washington, D.C.\n', 'Puka Puka\n', 'Aitutaki\n', 'Aitutaki\n'], ['Oscar "Ozzy" Lusth24, Venice, California\n', 'Aitutaki\n', 'Aitutaki\n', 'Aitutaki\n'], ['Yul Kwon31, San Mateo, California\n', 'Puka Puka\n', 'Aitutaki\n', 'Aitutaki\n']]
Sekou
UPDATE `survivor_data`.`Seasons` SET place =20 WHERE `season_id` ='13'and `survivor_id` ='243';
Virgilio
UPDATE `survivor_data`.`Seasons` SET place =19 WHERE `season_id` ='13'and `survivor_id` ='238';
Cecilia
UPDATE `survivor_data`.`Seasons` SET place =18 WHERE `season_id` ='13'and `survivor_id` ='251';
John
UPDATE `survivor_data`.`Seasons` SET place =17 WHERE `season_id` ='13'and `survivor_id` ='249';
Stephannie
UPDATE `survivor_data`.`Seasons` SET place =16 WHERE `season_id` ='13'and `survivor_id` ='245';
Anh-Tuan
UPDATE `survivor_data`.`Seasons` SET place =15 WHERE `season_id` ='13'and `survivor_id` ='246';
Cristina
UPDATE `survivor_data`.`Seasons` SET place =14 WHERE `season_id` ='13'and `survivor_id` ='240';
Jessica
UPDATE `survivor_data`.`Seasons` SET place =13 WHERE `season_id` ='13'and `survivor_id` ='248';
Brad
UPDATE `survivor_data`.`Seasons` SET place =12 WHERE `season_id` ='13'and `survivor_id` ='242';
Rebecca
UPDATE `survivor_data`.`Seasons` SET place =11 WHERE `season_id` ='13'and `survivor_id` ='244';
Jenny
UPDATE `survivor_data`.`Seasons` SET place =10 WHERE `season_id` ='13'and `survivor_id` ='239';
Nathan
UPDATE `survivor_data`.`Seasons` SET place =9 WHERE `season_id` ='13'and `survivor_id` ='252';
Candice
UPDATE `survivor_data`.`Seasons` SET place =8 WHERE `season_id` ='13'and `survivor_id` ='257';
Jonathan
UPDATE `survivor_data`.`Seasons` SET place =7 WHERE `season_id` ='13'and `survivor_id` ='255';
Parvati
UPDATE `survivor_data`.`Seasons` SET place =6 WHERE `season_id` ='13'and `survivor_id` ='256';
Adam
UPDATE `survivor_data`.`Seasons` SET place =5 WHERE `season_id` ='13'and `survivor_id` ='241';
Sundra
UPDATE `survivor_data`.`Seasons` SET place =4 WHERE `season_id` ='13'and `survivor_id` ='253';
Rebekah
UPDATE `survivor_data`.`Seasons` SET place =3 WHERE `season_id` ='13'and `survivor_id` ='250';
Oscar
UPDATE `survivor_data`.`Seasons` SET place =2 WHERE `season_id` ='13'and `survivor_id` ='247';
Yul
UPDATE `survivor_data`.`Seasons` SET place =1 WHERE `season_id` ='13'and `survivor_id` ='254';

## Getting Challenge Winners

In [ ]:
response = requests.get(getSeasonURL(7))
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all('table', {'class': 'wikitable'})[1]
table_rows = table.find_all('tr')

rows = []
for tr in table_rows:
    td = tr.find_all('td')
    td_row = [i.text for i in td]
    if len(td_row) != 0:
      rows.append(td_row)

print(rows)

count = 0

for epi in rows:
  if count >= 8:
    reward = 'N/A'
    immunity = 'N/A'

    print(epi)

    if epi[-1].strip("\n") != 'Runner-up' or epi[-1].strip("\n") != 'Sole Survivor':
      if epi[-1][:2] == '13' or epi[-1][:2] == '14':
        immunity = epi[-3].strip("\n")
      elif len(epi) >= 4:
        reward = epi[-4].strip("\n")
        immunity = epi[-3].strip("\n")
    
    print(reward, immunity)
  count +=1