#Surivor - Outwit, Outplay, Outlast

## Imports and functions

In [1]:
%pip install gender_guesser
%pip install pymysql

from bs4 import BeautifulSoup

import requests
import urllib.request
import time
import random
import requests
import random
import os
import pymysql
import time
import gender_guesser.detector as gender
import pandas as pd
import numpy as np

STATES = {'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'D.C.': 'DC', 'Florida': 'FL', 
          'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 
          'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 
          'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 
          'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 
          'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA.', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}


SEASONS = ['Borneo', 'The_Australian_Outback', 'Africa', 'Marquesas', 'Thailand', 'The_Amazon', 'Pearl_Islands', 'All-Stars', 'Vanuatu', 'Palau', 'Guatemala','Panama'] 

def getSeasonURL(season_num):
  wiki_url = 'https://en.wikipedia.org/wiki/Survivor:_'
  return wiki_url + SEASONS[ season_num - 1 ]

def getSurvivorId(first_name, last_name):
  first_name = "'"+first_name+"'"
  last_name = "'"+last_name.strip(" ")+"'"
  query = "Select survivor_id from survivor_data.Players where first_name ="+first_name+" and last_name="+last_name+";"
  cur.execute(query)
  id = cur.fetchone()[0]
  return str(id)

def executeQuery(query):
  cur.execute(query)

def commitQuery():
  conn.commit()

def findStateInString(s):
  word = ''
  for char in s:
    if word in states:
      return word
    else:
      word += char

def addQuotes(s):
  return " '"+s+"' "

def getGender(name):
  d = gender.Detector()
  g = d.get_gender(name).split("_")

  if len(g) == 2:
    gn = g[-1]
  else:
    gn = g[0]
    
  if gn == "male":
    return 'M'
  else:
    return 'F'

def getPlayerTableInfoRandom(url):
  response = requests.get(url)
  soup = BeautifulSoup(response.text, 'html.parser')
  table = soup.find_all('table', {'class': 'wikitable'})[0]
  table_rows = table.find_all('tr')

  rows = []
  for tr in table_rows:
      td = tr.find_all('td')
      td_row = [i.text for i in td]
      rows.append(td_row[:-1])
      random.shuffle(rows)

  return rows

def getPlayerTableInfo(url):
  response = requests.get(url)
  soup = BeautifulSoup(response.text, 'html.parser')
  table = soup.find_all('table', {'class': 'wikitable'})[0]
  table_rows = table.find_all('tr')

  rows = []
  for tr in table_rows:
      td = tr.find_all('td')
      td_row = [i.text for i in td]
      rows.append(td_row[:-1])

  return rows

Collecting gender_guesser
  Downloading gender_guesser-0.4.0-py2.py3-none-any.whl (379 kB)
     |████████████████████████████████| 379 kB 5.2 MB/s
Installing collected packages: gender-guesser
Successfully installed gender-guesser-0.4.0
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.1 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

## AWS Login

In [ ]:
  succeess = False

  while not succeess:
    password = input("Password: ");
    try:
      conn = pymysql.connect(
          host='aws-survivor.cpapv35x7rsh.us-east-2.rds.amazonaws.com',
          port=int(3306),
          user="admin",
          passwd=password,
          db="survivor_data",
          charset='utf8mb4')
      cur = conn.cursor()
      succeess = True
    except:
      print("Wrong Password")
  print("Connection Made")

## Adding Players to Players Table

In [ ]:
url = getSeasonURL(12)
rows =getPlayerTableInfoRandom(url)
print(rows)

for row in rows:
  if len(row) !=0:
    r_split = row[0].split(",")

    if len(r_split) == 3:
      name_age = r_split[0]
      first_name = name_age[:-2].split(" ", 1)[0]
      last_name  = name_age[:-2].split(" ", 1)[1]
      age = name_age[-2:]
      gen = getGender(first_name)
      state = r_split[-1].strip("\n")[1:]

      print(first_name, last_name, age, gen, state)

      try:
        query = "INSERT INTO `survivor_data`.`Players` (`first_name`, `last_name`, `sex`, `state`) VALUES ("+addQuotes(first_name)+","+addQuotes(last_name)+","+addQuotes(gen)+","+addQuotes(STATES[state])+");"
        print(query)
        #executeQuery(query)
      except:
        print("Error")

#commitQuery()

## Add Players to Seasons Table

In [6]:
season = len(SEASONS)
url = getSeasonURL(season)
rows =getPlayerTableInfoRandom(url)
print(rows)

for row in rows:
  if len(row) !=0:
    r_split = row[0].split(",")

    if len(r_split) == 3:
      name_age = r_split[0]
      first_name = name_age[:-2].split(" ", 1)[0]
      last_name  = name_age[:-2].split(" ", 1)[1]
      age = name_age[-2:]



      try:
        survivor_id = getSurvivorId(first_name, last_name)
        query = "INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age)"+" VALUES('"+str(season)+"','"+str(survivor_id)+"','"+str(age)+"');"
        print(query)
        #executeQuery(query)
      except:
        print(first_name, last_name, age)

#commitQuery()

[['Cirie Fields35, Walterboro, South Carolina\n', 'Casaya\n', 'Casaya\n'], ['Tina Scheer44, Hayward, Wisconsin\n', 'Casaya\n', '\n', '\n'], ['Sally Schumann27, Chicago, Illinois\n', 'Bayoneta\n', 'La Mina\n'], ['Aras Baskauskas24, Santa Monica, California\n', 'Viveros\n', 'Casaya\n'], ['Danielle DiLorenzo24, Pompano Beach, Florida\n', 'Bayoneta\n', 'Casaya\n'], ['Austin Carty24, High Point, North Carolina\n', 'Viveros\n', 'La Mina\n'], ['Dan Barry51, South Hadley, Massachusetts\n', 'La Mina\n', 'La Mina\n', '\n'], ['Terry Deitz46, Simsbury, Connecticut\n', 'La Mina\n', 'La Mina\n'], ['Melinda Hyder32, Sevierville, Tennessee\n', 'Casaya\n', 'Casaya\n', '\n'], ['Bobby Mason32, Los Angeles, California\n', 'Viveros\n', 'Casaya\n', '\n'], ['Shane Powers35, Los Angeles, California\n', 'La Mina\n', 'Casaya\n'], ['Courtney Marit31, Los Angeles, California\n', 'Bayoneta\n', 'Casaya\n'], ['Nick Stanbury25, Tempe, Arizona\n', 'Viveros\n', 'La Mina\n', 'Gitanos\n'], ['Misty Giles24, Dallas, Texas\n', 'Bayoneta\n', 'La Mina\n', '\n'], ['Bruce Kanegai57, Simi Valley, California\n', 'La Mina\n', 'Casaya[a]\n'], [], ['Ruth Marie Milliman48, Greenville, South Carolina\n', 'Casaya\n', 'La Mina\n', '\n']]
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','214','35');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','216','44');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','217','27');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','206','24');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','221','24');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','218','24');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','207','51');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','208','46');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','210','32');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','215','32');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','213','35');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','209','31');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','212','25');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','219','24');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','220','57');
INSERT INTO `survivor_data`.`Seasons` (season_id, survivor_id, age) VALUES('12','211','48');

## Add Votes for in Season Table

In [13]:
a = [ ['Terry', 'Deitz'], ['Bruce', 'Kanegai'], ['Danielle', 'DiLorenzo']]
v = [ ['Cirie', 'Fields'], ['Dan', 'Barry'], ['Courtney', 'Marit'] ]
season = 12


for player in a:
  survivor_id = getSurvivorId(first_name=player[0], last_name=player[1])
  query = "UPDATE `survivor_data`.`Seasons` SET `vote_adam` = 1 WHERE `season_id` ='"+str(season)+"' and survivor_id ='"+survivor_id+"';"
  #executeQuery(query)
  print(query)

for player in v:
  survivor_id = getSurvivorId(first_name=player[0], last_name=player[1])
  query = "UPDATE `survivor_data`.`Seasons` SET `vote_victoria` = 1 WHERE `season_id` ='"+str(season)+"' and survivor_id ='"+survivor_id+"';"
  #executeQuery(query)
  print(query)

#commitQuery()

UPDATE `survivor_data`.`Seasons` SET `vote_adam` = 1 WHERE `season_id` ='12' and survivor_id ='208';
UPDATE `survivor_data`.`Seasons` SET `vote_adam` = 1 WHERE `season_id` ='12' and survivor_id ='220';
UPDATE `survivor_data`.`Seasons` SET `vote_adam` = 1 WHERE `season_id` ='12' and survivor_id ='221';
UPDATE `survivor_data`.`Seasons` SET `vote_victoria` = 1 WHERE `season_id` ='12' and survivor_id ='214';
UPDATE `survivor_data`.`Seasons` SET `vote_victoria` = 1 WHERE `season_id` ='12' and survivor_id ='207';
UPDATE `survivor_data`.`Seasons` SET `vote_victoria` = 1 WHERE `season_id` ='12' and survivor_id ='209';

## Set Players Place in the Season

In [8]:
season = 12
url = getSeasonURL(season)
rows =getPlayerTableInfo(url)
rows = rows[1:]
place = len(rows)

print(rows)

for row in rows:
  if len(row) !=0:
    r_split = row[0].split(",")

    if len(r_split) == 3:
      name_age = r_split[0]
      first_name = name_age[:-2].split(" ", 1)[0].strip(" ")
      last_name  = name_age[:-2].split(" ", 1)[1].strip(" ").strip("'")

      try:
        print(first_name)
        survivor_id = getSurvivorId(first_name, last_name)
        query = "UPDATE `survivor_data`.`Seasons` SET place ="+ str(place) +" WHERE `season_id` ='"+str(season)+"'and `survivor_id` ='"+survivor_id+"';"
        print(query)
        #executeQuery(query)

      except:
        print("Error: ", first_name, last_name) 
        
  place -= 1   

#commitQuery()

[['Tina Scheer44, Hayward, Wisconsin\n', 'Casaya\n', '\n', '\n'], ['Melinda Hyder32, Sevierville, Tennessee\n', 'Casaya\n', 'Casaya\n', '\n'], ['Misty Giles24, Dallas, Texas\n', 'Bayoneta\n', 'La Mina\n', '\n'], ['Ruth Marie Milliman48, Greenville, South Carolina\n', 'Casaya\n', 'La Mina\n', '\n'], ['Bobby Mason32, Los Angeles, California\n', 'Viveros\n', 'Casaya\n', '\n'], ['Dan Barry51, South Hadley, Massachusetts\n', 'La Mina\n', 'La Mina\n', '\n'], ['Nick Stanbury25, Tempe, Arizona\n', 'Viveros\n', 'La Mina\n', 'Gitanos\n'], ['Austin Carty24, High Point, North Carolina\n', 'Viveros\n', 'La Mina\n'], ['Sally Schumann27, Chicago, Illinois\n', 'Bayoneta\n', 'La Mina\n'], ['Bruce Kanegai57, Simi Valley, California\n', 'La Mina\n', 'Casaya[a]\n'], ['Courtney Marit31, Los Angeles, California\n', 'Bayoneta\n', 'Casaya\n'], ['Shane Powers35, Los Angeles, California\n', 'La Mina\n', 'Casaya\n'], ['Cirie Fields35, Walterboro, South Carolina\n', 'Casaya\n', 'Casaya\n'], ['Terry Deitz46, Simsbury, Connecticut\n', 'La Mina\n', 'La Mina\n'], ['Danielle DiLorenzo24, Pompano Beach, Florida\n', 'Bayoneta\n', 'Casaya\n'], ['Aras Baskauskas24, Santa Monica, California\n', 'Viveros\n', 'Casaya\n']]
Tina
UPDATE `survivor_data`.`Seasons` SET place =16 WHERE `season_id` ='12'and `survivor_id` ='216';
Melinda
UPDATE `survivor_data`.`Seasons` SET place =15 WHERE `season_id` ='12'and `survivor_id` ='210';
Misty
UPDATE `survivor_data`.`Seasons` SET place =14 WHERE `season_id` ='12'and `survivor_id` ='219';
Ruth
UPDATE `survivor_data`.`Seasons` SET place =13 WHERE `season_id` ='12'and `survivor_id` ='211';
Bobby
UPDATE `survivor_data`.`Seasons` SET place =12 WHERE `season_id` ='12'and `survivor_id` ='215';
Dan
UPDATE `survivor_data`.`Seasons` SET place =11 WHERE `season_id` ='12'and `survivor_id` ='207';
Nick
UPDATE `survivor_data`.`Seasons` SET place =10 WHERE `season_id` ='12'and `survivor_id` ='212';
Austin
UPDATE `survivor_data`.`Seasons` SET place =9 WHERE `season_id` ='12'and `survivor_id` ='218';
Sally
UPDATE `survivor_data`.`Seasons` SET place =8 WHERE `season_id` ='12'and `survivor_id` ='217';
Bruce
UPDATE `survivor_data`.`Seasons` SET place =7 WHERE `season_id` ='12'and `survivor_id` ='220';
Courtney
UPDATE `survivor_data`.`Seasons` SET place =6 WHERE `season_id` ='12'and `survivor_id` ='209';
Shane
UPDATE `survivor_data`.`Seasons` SET place =5 WHERE `season_id` ='12'and `survivor_id` ='213';
Cirie
UPDATE `survivor_data`.`Seasons` SET place =4 WHERE `season_id` ='12'and `survivor_id` ='214';
Terry
UPDATE `survivor_data`.`Seasons` SET place =3 WHERE `season_id` ='12'and `survivor_id` ='208';
Danielle
UPDATE `survivor_data`.`Seasons` SET place =2 WHERE `season_id` ='12'and `survivor_id` ='221';
Aras
UPDATE `survivor_data`.`Seasons` SET place =1 WHERE `season_id` ='12'and `survivor_id` ='206';

## Getting Challenge Winners

In [ ]:
response = requests.get(getSeasonURL(7))
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all('table', {'class': 'wikitable'})[1]
table_rows = table.find_all('tr')

rows = []
for tr in table_rows:
    td = tr.find_all('td')
    td_row = [i.text for i in td]
    if len(td_row) != 0:
      rows.append(td_row)

print(rows)

count = 0

for epi in rows:
  if count >= 8:
    reward = 'N/A'
    immunity = 'N/A'

    print(epi)

    if epi[-1].strip("\n") != 'Runner-up' or epi[-1].strip("\n") != 'Sole Survivor':
      if epi[-1][:2] == '13' or epi[-1][:2] == '14':
        immunity = epi[-3].strip("\n")
      elif len(epi) >= 4:
        reward = epi[-4].strip("\n")
        immunity = epi[-3].strip("\n")
    
    print(reward, immunity)
  count +=1